name: Python Test

on:
  pull_request:
    paths:
      - 'src/**/*.py'

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.13'

      - name: Run tests
        run: python -m unittest discover -s src


